:root {
  --sidebar-width: 14%; /* Increase sidebar width */
  --sidebar-min-width: 200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Faculty Glyphic", sans-serif;
  background-color: #e6ebf0;
  color: #2c3e50;
}

.main-content {
  display: flex;
  margin-left: var(--sidebar-width);
  padding: 20px;
  height: 100vh;
  background-color: #e6ebf0;
}

@media (max-width: 768px) {
  .main-content {
      margin-left: var(--sidebar-min-width);
      min-width: calc(100% - var(--sidebar-min-width));
  }
}

@media (max-width: 500px) {
  .main-content {
      margin-left: 0;
      min-width: 100%;
  }
}
